body {
  margin: 0;
  font: var(--basefont);
  line-height: 1.5rem;
}

h1 {
  font: var(--titleOne);
  color: var(--white);
  margin: 0;
}

@media screen and (min-width:500px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font: var(--titleTwo);
  color: var(--black);
}

@media screen and (min-width:451px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width:768px) {
  h2 {
  font-size: 3.625rem;  }
}

h3 {
  font: var(--titleThree);
  color: var(--back);
}

@media screen and (min-width:451px) {
  h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width:768px) {
  h3 {
    font-size: 3.125rem;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-inline-size: 100%;
  vertical-align: bottom;
}